{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur votre plateforme de travail</h1>
    <h4>Que souhaitez-vous faire ?</h4>

<button class="btn btn-primary" style="width: 400px; height: 50px">
    <a href="{{ path('articles') }}">CONSULTER LES ARTICLES</a>
</button>
<button class="btn btn-primary" style="width: 400px; height: 50px">
    <a href="{{ path('clients') }}">VOIR MES CLIENTS</a>
</button>
<button class="btn btn-primary" style="width: 400px; height: 50px">
    <a href="{{ path('archives') }}">CONSULTER LES ARCHIVES</a>
</button>
<button class="btn btn-primary" style="width: 400px; height: 50px">
    <a href="{{ path('bl') }}">CREER UN BON DE LIVRAISON</a>
</button>
<button class="btn btn-primary" style="width: 400px; height: 50px">
    <a href="{{ path('factures') }}">CREER UNE FACTURE PRO FORMA</a>
</button>
{% endblock %}

{% block stylesheets %}
    <style>
       * {
           text-align:center;
       }
       button {
            margin-top: 40px;
           display: flex;
flex-direction: column
       }
    </style>
{% endblock %}