{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue sur votre plateforme de travail</h1>
    <h4>Que souhaitez-vous faire ?</h4>

    <a href="{{ path('articles') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
    CONSULTER LES ARTICLES
</button></a>
    <a href="{{ path('clients') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
    VOIR MES CLIENTS
</button></a>
    <a href="{{ path('archives') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
    CONSULTER LES ARCHIVES
</button></a>
    <a href="{{ path('bl') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
    CREER UN BON DE LIVRAISON
</button></a>
    <a href="{{ path('factures') }}"><button class="btn btn-primary" style="width: 400px; height: 50px">
    CREER UNE FACTURE PRO FORMA
</button></a>
{% endblock %}

{% block stylesheets %}
    <style>
       * {
           text-align:center;
       }
       button {
            margin-top: 40px;

       }
    </style>
{% endblock %}